body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  padding: 6px;
  cursor: pointer;
}

.wrapper:hover {
  background-color: #eee;
  border-radius: 5px;
}

.pagination {
  margin: 12px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  padding: 6px;
  cursor: pointer;
}

.pagination-item.active {
  text-decoration: underline;
}

.pagination-item:hover {
  text-decoration: underline;
}
